# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor
.vscode/
.idea/

# Node/Tools caches (por si se usan)
node_modules/
*.log

# Exportados
assets/*.png
assets/*.jpg
assets/*.svg
assets/*.pdf

# Archivos temporales
*.tmp
*.swp
~$*
